html, body {
    margin:0;
    padding:0;
    height:100%;
}
#container {
    min-height:100%;
    position:relative;
}
#header {
    height: 10%;
    /*padding:10px;*/
}
#body {
    padding:30px 15% 60px 15%;
    /*padding-bottom:60px;    Height of the footer */
}
#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    padding: 10px;
    background-color: #343a40;
}
.logo {
    width: 65%;
    height: 65%;
}
.pagetitle {
    /*margin-left: auto;
    margin-right: auto;*/
    text-align: center;
}
.categoryselect {
    margin-right: 50px ;
    margin-bottom: 20px;
}
.navbar-nav {
    margin-left: auto;
    margin-right: auto;
}


/*LOGIN PAGE*/
body.my-login-page {
    background-color: #f7f9fb;
    font-size: 14px;
    position: center;

}

.my-login-page .card-wrapper {
    margin-top: 15%;
    width: 400px;
}

.my-login-page .card {
    border-color: transparent;
    box-shadow: 0 0 40px rgba(0,0,0,.05);
}

.my-login-page .card.fat {
    padding: 10px;
}

.my-login-page .card .card-title {
    margin-bottom: 30px;
}

.my-login-page .form-control {
    border-width: 2.3px;
}

.my-login-page .form-group label {
    width: 100%;
}

.my-login-page .btn.btn-block {
    padding: 12px 10px;
}

.my-login-page .margin-top20 {
    margin-top: 20px;
}

.my-login-page .no-margin {
    margin: 0;
}

.my-login-page .footer {
    margin: 40px 0;
    color: #888;
    text-align: center;
}

/*CONVERSTIONS*/

.container {
    margin-top: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;

}

.media-space {
    padding: 10px;
    border-top: 1px solid grey;
    margin-bottom: 10px;
}

.media-left-space {
    padding-right: 10px;
}

.else-bloc {
    padding-top: 3%;
    margin: auto;
    width: 1000px;
    background-color: white;
}

.pagination > .active > a,
.pagination > .active > a:visited {
    background-color: black;
    border-color: black;
    color: white;
}

.pagination > .active > a:hover {
    background-color: grey;
    border-color: grey;
}

.pagination > li > a {

    color: black;
}

.pagination > li > a:hover {

    color: grey;
}